/* pagina de login */
.login{
    margin: auto;
    width: 30%;
    padding: 20px;
    float: center;
    width: 300px;
    padding: 10px;
}
#lusuario{
    width: 300px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: Arial;
    margin-top: 3px;
    outline: none;
}
#lsenha{
    width: 300px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: Arial;
    margin-top: 3px;
    outline: none;
}

#botao1{
    width: 300px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: none;
    border-radius: 2px;
    font-family: Arial;
    margin-top: 3px;
    background-color: yellow;
}

#botao1:hover {
    background-color: green;
}
#botao2{
    width: 300px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: none;
    border-radius: 2px;
    font-family: Arial;
    margin-top: 3px;
    background-color: yellow;
}

#botao2:hover {
    background-color: green;
}

/* cadastro de novo usuario */
.cadastro{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px #ccc;
    border-radius: 2px;
    font-family: Arial;
    margin-top: 3px;
    outline: none;
    
}
#salvar{
    width: 85px;
    height: 40px;
    background-color: #088A68;
    color: white;
    margin-top: 20px;
    border: none;
}

#salvar:hover{
    background-color: #04B486;
    cursor: pointer;
}
#cancelar{
    width: 85px;
    height: 40px;
    background-color: yellow;
    color: white;
    margin-top: 20px;
    border: none;
}

#cancelar:hover{
    background-color: yellowgreen;
    cursor: pointer;
}
.erro{
    border: solid 1px #Fa5858;
}
.erro::placeholder{
    color: #fa5858;
}

.principal{
    padding-top: 50px;
    margin: 0 auto;
    top: 15%;
    width: 210px;
    color: #AA00AA;
}

/* caixa de emails */
.barra_superior{
    height: 30px;
    width: 100%x;
    background-color: blue;
}

.nova_mensagem{
    height: 30px;
    width: 100%x;
    background-color: gray;
}
.filtros{
    width: 15%;
    background-color: blue;
    float: left;
}
#emails{
    height: 40px;
    width: 85%;
    background-color: yellow;
    position:relative;
    float: left;
}
