.escopo1 {
	width: 25%;
	height: 45%;
	border: solid 1px white;
	padding: 5px;
   	left:45%;
	top:25%;
	margin-left:-100px; /* Metade do valor da Largura */
	margin-top:-50px; /* Metade da valor da Altura */
	position:absolute;
	background-color: 
}

.escopo2 {
	width: 100%;
	height: 73%;
	border-top: solid 1px black;


}
